@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.side-menu {
    width: 0;
    height: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    position: fixed; 
    background-color: #ff4800;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}

.side-menu ul {
    list-style: none;
}
.menu-item{
    margin-bottom: 20px;
    margin-left: 40px;
}
.menu-item a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    
}

.side-menu #close-btn {
    position: absolute;
    top: 15px;
    left: 200px;
    color: white;

}
body .front-page {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.front-page #open-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ff4800;
}

/* Search bar */
.gray-bars {
    background-color: #D9D9D9;
    padding: 4px 8px 4px 8px;
    border-radius: 20px;
    margin-left: 35px;
    font-weight: 400;
}

.gray-bars input {
    background-color: #D9D9D9;
}
#search-bar {
    width: 300px;
}

/* Buttons */
.butons {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    margin-right: 25px;
    
}

.butons button {
    padding: 5px 8px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.front-page .cart-btn {
    margin-left: 15px;
    margin-right: 20px;
    background-color: #FFAA00;
}

.front-page .user-menu {
    background-color: #ff4800;   
}

.user-options {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    visibility: hidden;
    position: absolute;
    top: 42px;
    right: 30px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
}

/* Header */
.front-page .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.header .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.front-page .popular-rest {
    display: flex;
    flex-direction: column;
    
}

/* Restaurant cards */
.cards {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 255px;
    border: 1px solid black;
    border-radius: 10px;
}

.card-img {
    width: 272px;
    height: 203px;
    border-radius: 10px 10px 0 0;
}

.image-area {
    position: absolute;
    top: 95px;
    
}
.fav-buttons {
    position: relative;
    left: 220px;
    color: white;
}

#unfilled-heart {
    z-index: 3;
}
#filled-heart {
    z-index: 2;
}

.restaurant-card .card-details {
    padding: 5px;
}
.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-info .star-grade {
    display: flex;
    flex-direction: row;
}

/* Categories */
.cat-img {
    filter: brightness(50%);
    border-radius: 10px;
}

.category h4 {
    position: relative;
    bottom: 30px;
    left: 10px;
    color: white;
}

/* Orders */
.orders {
    display: flex;
    flex-direction: column;
    
}
.order {
    width: 60%;
    margin: 20px auto 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
}

.order-img {
    width: 105px;
    height: 50px;
}